language: python

python:
  - "2.5"
  - "2.6"
  - "2.7"
  - "3.3"
env:
  - DJANGO=django==1.5.1
  - DJANGO=django==1.4.3
  - DJANGO=https://www.djangoproject.com/download/1.6b1/tarball/

matrix:
  allow failures:
  - env: DJANGO=https://www.djangoproject.com/download/1.6b1/tarball/
  - python: "3.3"

install:
  - pip install -q $DJANGO --use-mirrors
  - pip install -r requirements.txt --use-mirrors
  - pip install -q https://github.com/praekelt/django-setuptest --use-mirrors

script:
  - python setup.py test

